<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>App.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>A30D64684D2E52F85E16C4474552EE12D60F114A</string>
				<key>dateExpires</key>
				<string>03/02/24</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A30D64684D2E52F85E16C4474552EE12D60F114A</string>
						<key>dateExpires</key>
						<string>03/02/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Capacitor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2A43T2JL46</string>
						<key>name</key>
						<string>AUTOLYTICS TECHNOLOGY PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>4.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A30D64684D2E52F85E16C4474552EE12D60F114A</string>
						<key>dateExpires</key>
						<string>03/02/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorApp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2A43T2JL46</string>
						<key>name</key>
						<string>AUTOLYTICS TECHNOLOGY PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A30D64684D2E52F85E16C4474552EE12D60F114A</string>
						<key>dateExpires</key>
						<string>03/02/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorFilesystem.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2A43T2JL46</string>
						<key>name</key>
						<string>AUTOLYTICS TECHNOLOGY PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A30D64684D2E52F85E16C4474552EE12D60F114A</string>
						<key>dateExpires</key>
						<string>03/02/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorHaptics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2A43T2JL46</string>
						<key>name</key>
						<string>AUTOLYTICS TECHNOLOGY PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A30D64684D2E52F85E16C4474552EE12D60F114A</string>
						<key>dateExpires</key>
						<string>03/02/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorKeyboard.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2A43T2JL46</string>
						<key>name</key>
						<string>AUTOLYTICS TECHNOLOGY PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A30D64684D2E52F85E16C4474552EE12D60F114A</string>
						<key>dateExpires</key>
						<string>03/02/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CapacitorStatusBar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2A43T2JL46</string>
						<key>name</key>
						<string>AUTOLYTICS TECHNOLOGY PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A30D64684D2E52F85E16C4474552EE12D60F114A</string>
						<key>dateExpires</key>
						<string>03/02/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Cordova.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2A43T2JL46</string>
						<key>name</key>
						<string>AUTOLYTICS TECHNOLOGY PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>4.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A30D64684D2E52F85E16C4474552EE12D60F114A</string>
						<key>dateExpires</key>
						<string>03/02/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CordovaPlugins.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2A43T2JL46</string>
						<key>name</key>
						<string>AUTOLYTICS TECHNOLOGY PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>4.6.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A30D64684D2E52F85E16C4474552EE12D60F114A</string>
						<key>dateExpires</key>
						<string>03/02/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Sentry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2A43T2JL46</string>
						<key>name</key>
						<string>AUTOLYTICS TECHNOLOGY PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>7.23.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>A30D64684D2E52F85E16C4474552EE12D60F114A</string>
						<key>dateExpires</key>
						<string>03/02/24</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SentryCapacitor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2A43T2JL46</string>
						<key>name</key>
						<string>AUTOLYTICS TECHNOLOGY PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.10.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2A43T2JL46.ai.actyv.enterprise</string>
				<key>com.apple.developer.team-identifier</key>
				<string>2A43T2JL46</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>App.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>056a711c-c1a7-4019-abed-5309080e7eed</string>
				<key>dateExpires</key>
				<string>06/02/24</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: ai.actyv.enterprise</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2A43T2JL46</string>
				<key>name</key>
				<string>AUTOLYTICS TECHNOLOGY PRIVATE LIMITED</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
